<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mcknight.movies</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>5CCA0E4A-73FF-463A-B117-8D716359B476</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C50A179-1A70-4A7D-9E89-B916A4F86DAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6079855E-22E9-4B4C-8DD5-919CB258064A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7383993A-C301-4ABD-B9A8-1E115F8F4573</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>90677662-35FF-41CB-93F4-6758357932B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94AAD4D7-660A-4698-8B47-847756748969</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C581DBA6-72FF-4C10-A448-143D74225620</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CCA0E4A-73FF-463A-B117-8D716359B476</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tom McKnight</string>
	<key>description</key>
	<string>Search and get info on movies</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Movies</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>94AAD4D7-660A-4698-8B47-847756748969</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>movie</string>
				<key>runningsubtext</key>
				<string>Searching for "{query}"...</string>
				<key>script</key>
				<string>python movies.py "{query}"</string>
				<key>subtext</key>
				<string>Search for "{query}"</string>
				<key>title</key>
				<string>Search Movies</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>90677662-35FF-41CB-93F4-6758357932B1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>movieapi</string>
				<key>subtext</key>
				<string>Enter your TMDb API key and press ENTER</string>
				<key>text</key>
				<string>Set your TMDb API key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C581DBA6-72FF-4C10-A448-143D74225620</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python movies.py --setkey "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5CCA0E4A-73FF-463A-B117-8D716359B476</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Your TMDb API key was saved</string>
				<key>title</key>
				<string>Saved API Key</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8C50A179-1A70-4A7D-9E89-B916A4F86DAF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Alfred 2"		search "movie " &amp; q	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>7383993A-C301-4ABD-B9A8-1E115F8F4573</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search movies for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>6079855E-22E9-4B4C-8DD5-919CB258064A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5CCA0E4A-73FF-463A-B117-8D716359B476</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6079855E-22E9-4B4C-8DD5-919CB258064A</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>7383993A-C301-4ABD-B9A8-1E115F8F4573</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>8C50A179-1A70-4A7D-9E89-B916A4F86DAF</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>90677662-35FF-41CB-93F4-6758357932B1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>94AAD4D7-660A-4698-8B47-847756748969</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C581DBA6-72FF-4C10-A448-143D74225620</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/tmcknight</string>
</dict>
</plist>
