<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>bundleid</key>
		<string>com.mcknight.movies</string>
		<key>connections</key>
		<dict>
			<key>1BD6325A-1219-4F0A-B4EE-DC9C96450986</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>4040E349-B23C-4B4A-A496-72D33F51E2B2</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false/>
				</dict>
			</array>
			<key>4040E349-B23C-4B4A-A496-72D33F51E2B2</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>B0199F8A-B91F-4A44-86AF-F910CC94EF82</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false/>
				</dict>
			</array>
			<key>58619DEC-D6A7-4344-B557-5617B39F12DF</key>
			<array/>
			<key>6079855E-22E9-4B4C-8DD5-919CB258064A</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>90677662-35FF-41CB-93F4-6758357932B1</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false/>
				</dict>
			</array>
			<key>90677662-35FF-41CB-93F4-6758357932B1</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>58619DEC-D6A7-4344-B557-5617B39F12DF</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false/>
				</dict>
			</array>
			<key>B0199F8A-B91F-4A44-86AF-F910CC94EF82</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>90677662-35FF-41CB-93F4-6758357932B1</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>sourceoutputuid</key>
					<string>3A6D3743-A6D3-4E6F-9250-65C6BFFA34E8</string>
					<key>vitoclose</key>
					<false/>
				</dict>
				<dict>
					<key>destinationuid</key>
					<string>B8455555-F05D-4969-83C9-5DE09914B79D</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>sourceoutputuid</key>
					<string>63D8D915-7251-4C96-93B5-C3F997C3CB12</string>
					<key>vitoclose</key>
					<false/>
				</dict>
			</array>
			<key>B8455555-F05D-4969-83C9-5DE09914B79D</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>58619DEC-D6A7-4344-B557-5617B39F12DF</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false/>
				</dict>
			</array>
			<key>FA1D6F95-2A45-46E1-A83E-9C93D722AB02</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>B8455555-F05D-4969-83C9-5DE09914B79D</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string></string>
					<key>vitoclose</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>createdby</key>
		<string>Tom McKnight</string>
		<key>description</key>
		<string>Search and get info on movies or TV shows</string>
		<key>disabled</key>
		<false/>
		<key>name</key>
		<string>Movie and TV Show Search</string>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>text</key>
					<string>Search movies for '{query}'</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.trigger.fallback</string>
				<key>uid</key>
				<string>6079855E-22E9-4B4C-8DD5-919CB258064A</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>alfredfiltersresults</key>
					<false/>
					<key>alfredfiltersresultsmatchmode</key>
					<integer>0</integer>
					<key>argumenttreatemptyqueryasnil</key>
					<false/>
					<key>argumenttrimmode</key>
					<integer>0</integer>
					<key>argumenttype</key>
					<integer>0</integer>
					<key>escaping</key>
					<integer>126</integer>
					<key>keyword</key>
					<string>{var:movie_keyword}</string>
					<key>queuedelaycustom</key>
					<integer>3</integer>
					<key>queuedelayimmediatelyinitially</key>
					<false/>
					<key>queuedelaymode</key>
					<integer>1</integer>
					<key>queuemode</key>
					<integer>1</integer>
					<key>runningsubtext</key>
					<string>Searching for "{query}"...</string>
					<key>script</key>
					<string>python3 media.py -t="movie" -q="${1}"</string>
					<key>scriptargtype</key>
					<integer>1</integer>
					<key>scriptfile</key>
					<string></string>
					<key>subtext</key>
					<string>Search for "{query}"</string>
					<key>title</key>
					<string>Search Movies</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>90677662-35FF-41CB-93F4-6758357932B1</string>
				<key>version</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>availableviaurlhandler</key>
					<false/>
					<key>triggerid</key>
					<string>mtvID</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.trigger.external</string>
				<key>uid</key>
				<string>1BD6325A-1219-4F0A-B4EE-DC9C96450986</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>concurrently</key>
					<false/>
					<key>escaping</key>
					<integer>0</integer>
					<key>script</key>
					<string>python3 openurls.py -u="${1}"</string>
					<key>scriptargtype</key>
					<integer>1</integer>
					<key>scriptfile</key>
					<string></string>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.script</string>
				<key>uid</key>
				<string>58619DEC-D6A7-4344-B557-5617B39F12DF</string>
				<key>version</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>conditions</key>
					<array>
						<dict>
							<key>inputstring</key>
							<string>{var:split1}</string>
							<key>matchcasesensitive</key>
							<false/>
							<key>matchmode</key>
							<integer>0</integer>
							<key>matchstring</key>
							<string>m</string>
							<key>outputlabel</key>
							<string>movie</string>
							<key>uid</key>
							<string>3A6D3743-A6D3-4E6F-9250-65C6BFFA34E8</string>
						</dict>
						<dict>
							<key>inputstring</key>
							<string>{var:split1}</string>
							<key>matchcasesensitive</key>
							<false/>
							<key>matchmode</key>
							<integer>0</integer>
							<key>matchstring</key>
							<string>t</string>
							<key>outputlabel</key>
							<string>tv</string>
							<key>uid</key>
							<string>63D8D915-7251-4C96-93B5-C3F997C3CB12</string>
						</dict>
					</array>
					<key>elselabel</key>
					<string>else</string>
					<key>hideelse</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.utility.conditional</string>
				<key>uid</key>
				<string>B0199F8A-B91F-4A44-86AF-F910CC94EF82</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>delimiter</key>
					<string>:</string>
					<key>discardemptyarguments</key>
					<false/>
					<key>outputas</key>
					<integer>0</integer>
					<key>trimarguments</key>
					<true/>
					<key>variableprefix</key>
					<string>split</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.utility.split</string>
				<key>uid</key>
				<string>4040E349-B23C-4B4A-A496-72D33F51E2B2</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>text</key>
					<string>Search tv shows for '{query}'</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.trigger.fallback</string>
				<key>uid</key>
				<string>FA1D6F95-2A45-46E1-A83E-9C93D722AB02</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>alfredfiltersresults</key>
					<false/>
					<key>alfredfiltersresultsmatchmode</key>
					<integer>0</integer>
					<key>argumenttreatemptyqueryasnil</key>
					<false/>
					<key>argumenttrimmode</key>
					<integer>0</integer>
					<key>argumenttype</key>
					<integer>0</integer>
					<key>escaping</key>
					<integer>126</integer>
					<key>keyword</key>
					<string>{var:tv_keyword}</string>
					<key>queuedelaycustom</key>
					<integer>3</integer>
					<key>queuedelayimmediatelyinitially</key>
					<false/>
					<key>queuedelaymode</key>
					<integer>1</integer>
					<key>queuemode</key>
					<integer>1</integer>
					<key>runningsubtext</key>
					<string>Searching for "{query}"...</string>
					<key>script</key>
					<string>python3 media.py -t="tv" -q="${1}"</string>
					<key>scriptargtype</key>
					<integer>1</integer>
					<key>scriptfile</key>
					<string></string>
					<key>subtext</key>
					<string>Search for "{query}"</string>
					<key>title</key>
					<string>Search TV Shows</string>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>B8455555-F05D-4969-83C9-5DE09914B79D</string>
				<key>version</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>readme</key>
		<string>Run the Movie Search Keyword (default: `movie`) or TV Search Keyword (default: `tv`) to search for movies and TV shows, respectively. Press ↩ to get details and ratings.

![](img/about/walle-search.png)
![](img/about/walle-details.png)</string>
		<key>uidata</key>
		<dict>
			<key>1BD6325A-1219-4F0A-B4EE-DC9C96450986</key>
			<dict>
				<key>xpos</key>
				<real>110</real>
				<key>ypos</key>
				<real>270</real>
			</dict>
			<key>4040E349-B23C-4B4A-A496-72D33F51E2B2</key>
			<dict>
				<key>xpos</key>
				<real>260</real>
				<key>ypos</key>
				<real>300</real>
			</dict>
			<key>58619DEC-D6A7-4344-B557-5617B39F12DF</key>
			<dict>
				<key>xpos</key>
				<real>660</real>
				<key>ypos</key>
				<real>275</real>
			</dict>
			<key>6079855E-22E9-4B4C-8DD5-919CB258064A</key>
			<dict>
				<key>xpos</key>
				<real>110</real>
				<key>ypos</key>
				<real>140</real>
			</dict>
			<key>90677662-35FF-41CB-93F4-6758357932B1</key>
			<dict>
				<key>xpos</key>
				<real>460</real>
				<key>ypos</key>
				<real>140</real>
			</dict>
			<key>B0199F8A-B91F-4A44-86AF-F910CC94EF82</key>
			<dict>
				<key>xpos</key>
				<real>330</real>
				<key>ypos</key>
				<real>290</real>
			</dict>
			<key>B8455555-F05D-4969-83C9-5DE09914B79D</key>
			<dict>
				<key>xpos</key>
				<real>460</real>
				<key>ypos</key>
				<real>405</real>
			</dict>
			<key>FA1D6F95-2A45-46E1-A83E-9C93D722AB02</key>
			<dict>
				<key>xpos</key>
				<real>110</real>
				<key>ypos</key>
				<real>405</real>
			</dict>
		</dict>
		<key>userconfigurationconfig</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>default</key>
					<string>movie</string>
					<key>placeholder</key>
					<string></string>
					<key>required</key>
					<false/>
					<key>trim</key>
					<true/>
				</dict>
				<key>description</key>
				<string></string>
				<key>label</key>
				<string>Movie Search Keyword</string>
				<key>type</key>
				<string>textfield</string>
				<key>variable</key>
				<string>movie_keyword</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>default</key>
					<string>tv</string>
					<key>placeholder</key>
					<string></string>
					<key>required</key>
					<false/>
					<key>trim</key>
					<true/>
				</dict>
				<key>description</key>
				<string>Keywords used for searching movies and TV shows.</string>
				<key>label</key>
				<string>TV Search Keyword</string>
				<key>type</key>
				<string>textfield</string>
				<key>variable</key>
				<string>tv_keyword</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>default</key>
					<string>1bf8d40a</string>
					<key>placeholder</key>
					<string></string>
					<key>required</key>
					<true/>
					<key>trim</key>
					<true/>
				</dict>
				<key>description</key>
				<string>Get your own API key at https://omdbapi.com/apikey.aspx</string>
				<key>label</key>
				<string>OMDB API Key</string>
				<key>type</key>
				<string>textfield</string>
				<key>variable</key>
				<string>omdb_api_key</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>default</key>
					<string>US</string>
					<key>placeholder</key>
					<string></string>
					<key>required</key>
					<false/>
					<key>trim</key>
					<true/>
				</dict>
				<key>description</key>
				<string>Controls the movie/tv show certification (e.g. PG-13) and the results for JustWatch.</string>
				<key>label</key>
				<string>Locale</string>
				<key>type</key>
				<string>textfield</string>
				<key>variable</key>
				<string>locale</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>default</key>
					<string>en</string>
					<key>placeholder</key>
					<string></string>
					<key>required</key>
					<false/>
					<key>trim</key>
					<true/>
				</dict>
				<key>description</key>
				<string>Language used when searching movies and TV shows.</string>
				<key>label</key>
				<string>Search Language</string>
				<key>type</key>
				<string>textfield</string>
				<key>variable</key>
				<string>search_language</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>default</key>
					<true/>
					<key>required</key>
					<false/>
					<key>text</key>
					<string>Letterboxd</string>
				</dict>
				<key>description</key>
				<string></string>
				<key>label</key>
				<string>Extra Websites</string>
				<key>type</key>
				<string>checkbox</string>
				<key>variable</key>
				<string>include_letterboxd</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>default</key>
					<true/>
					<key>required</key>
					<false/>
					<key>text</key>
					<string>Simkl</string>
				</dict>
				<key>description</key>
				<string></string>
				<key>type</key>
				<string>checkbox</string>
				<key>variable</key>
				<string>include_simkl</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>default</key>
					<true/>
					<key>required</key>
					<false/>
					<key>text</key>
					<string>MovieChat</string>
				</dict>
				<key>description</key>
				<string></string>
				<key>label</key>
				<string></string>
				<key>type</key>
				<string>checkbox</string>
				<key>variable</key>
				<string>include_moviechat</string>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>default</key>
					<true/>
					<key>required</key>
					<false/>
					<key>text</key>
					<string>JustWatch</string>
				</dict>
				<key>description</key>
				<string></string>
				<key>label</key>
				<string></string>
				<key>type</key>
				<string>checkbox</string>
				<key>variable</key>
				<string>include_justwatch</string>
			</dict>
		</array>
		<key>version</key>
		<string>2.17.0</string>
		<key>webaddress</key>
		<string>https://github.com/tmcknight/Movie-and-TV-Show-Search-Alfred-Workflow</string>
	</dict>
</plist>
